body {
    font-family: sans-serif;
    text-align: center;
    padding: 30px;
}

.hidden {
    display: none;
}

#wordDisplay {
    font-size: 40px;
    margin-top: 30px;
}

#codeDisplay {
    font-size: 20px;
    color: #666;
    margin-bottom: 20px;
}

#inputBox {
    padding: 10px;
    font-size: 20px;
    width: 280px;
}

#result {
    margin-top: 30px;
    font-size: 20px;
}
